name: Build, create image and deploy to DockerHub

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/docker-image.yml"
      - "docker/**"
      - "!docker/*.md"
      - "pwp-backend/**"
      - "pwp-frontend/**"
      - "Dockerfile.pipeline"
      - "build.gradle.kts"
      - "settings.gradle.kts"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "adopt"
          check-latest: false

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: |
          ./gradlew clean --no-daemon
          ./gradlew test --no-daemon

      - name: Package to JAR
        run: |
          ./gradlew clean --no-daemon
          ./gradlew shadowJar -PbuildFrontend --no-daemon

      - name: Upload generated JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: output-jar
          path: .bin/pm-web-panel.jar
          retention-days: 1

  docker:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download generated JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: output-jar
          path: ${{ github.workspace }}/docker

      - name: Set up builder
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.pipeline
          push: true
          tags: milosz08/pm-web-panel:latest
